   .home .container {
        background-image: url('../images/index.jpg') ;
      
    }
    
    .ganen {
        background-image: url('../images/icons/ganen.png');
        position: absolute;
        border-radius: 20%;
        width: 4.5em;
        height: 4.5em;
        top: 40%;
        left: 66%;
        animation: show-hide 5s infinite  ;
        -webkit-animation: show-hide  5s infinite ;
    }
    
    .line {
        position: absolute;
        float: left;
        height: 0em;
        width: 5%;
        top: 6%;
        animation: mymove 3s  forwards;
        -webkit-animation: mymove 3s forwards;
    }
    
    .odd {
        top: 13%;
    }
    
    .odd:before {
        content: '';
        border-left: 1px solid #813f00;
        margin-left: -0.4em;
        display: block;
        height: 100%;
    }
    
    .line1 {
        background-image: url('../images/icons/line1.png');
        left: 7%;
    }
    
    .line2 {
        background-image: url('../images/icons/line2.png');
        left: 16%;
    }
    
    .line3 {
        background-image: url('../images/icons/line3.png');
        left: 26%;
    }
    
    .line4 {
        background-image: url('../images/icons/line4.png');
        left: 35%;
    }
    
    @keyframes mymove {
        from {
            height:0em;
        }
        to {
            height:37%
        }
    }
    
    @keyframes show-hide {
        0%{
            opacity: 1;
        }
        25%{
            opacity: 0.4;
        }
        50%{
            opacity: 1
        }
        75%{
            opacity: 0.4;
        }
        100%{
            opacity: 1;
        }
    }


    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
        .ganen{
            top: 19em;
            left: 19em;
        }
    }