


.profession .container{
    background-image: url('../images/profession.jpg')
}

.button {
    position: absolute;
    width: 27%;
    background-color: #813f00;
    height: 1.8em;
    top: 35%;
    border-radius: 0.55em;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8em;
    color: white;
    font-weight: 300;
    border-right: #5B2E06 0.05em solid;
    border-bottom: #5B2E06 0.05em solid;
    
}

.b1 {
    left: 5%;
}

.b2 {
    left: 36.5%
}

.b3 {
    left: 68%
}
