    .wenan {
        position: absolute;
        width: 87%;
        height: 16%;
        top: 4%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .male {
        background-image: url('../images/male.jpg')
    }

    .female {
        background-image: url('../images/female.jpg')
    }

    .year {
        width: 20%;
        top: 34%;
        left: 53%;
    }

    .num {
        top: 49%;
        left: 50%;
        transform: translate(-50%);
        width: 41%;
    }

    .yearTip {
        top: 40.5%;
        left: 48%;
        width: 32%;
    }

    .numTip {
        width: 42%;
        left: 50%;
        transform: translate(-50%);
        top: 55.5%;
    }

    .teacher input {
        position: absolute;
        background-color: transparent;
        outline: none;
        height: 5%;
        border: 1px solid #fff;
        caret-color: #fff;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }

    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #fff;
        text-align: center
    }

    .create {
        background-image: url('../images/icons/create_image.png');
        position: absolute;
        height: 3rem;
        width: 11rem;
        top: 87%;
        left: 50%;
        transform: translate(-50%)
    }

    /* iphonex 的适配 */

    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        .year {
            left: 54%;
        }
        .yearTip {
            left: 48%;
        }
        .num {
            left: 50%
        }
        .numTip {
            left: 51%;
        }
        .wenan {
            left:44%
        }
    }