    .wenan {
        position: absolute;
        width: 80%;
        height: 13%;
        top: 7%;
        left: 50%;
        transform: translate(-50%,0);
    }
    
    .male{
        background-image: url('../images/male.jpg')
    }
    .female{
        background-image: url('../images/female.jpg')
    }
    
    
    .year {
        width: 22%;
        top: 37%;
        left: 52%;
    }
    
    .num {
        top: 52%;
        left: 50%;
        transform: translate(-50%)
    }
    
    .yearTip{
        top: 42%;
        left: 48%;
        width: 32%;
    }
    
    .numTip{
        width: 42%;
        left: 50%;
        transform: translate(-50%);
        top: 57%;
    }
    
    input {
        position: absolute;
        background-color: transparent;
        outline: none;
        height: 4%;
        border: 1px solid #aaa;
        caret-color:#aaa;
        text-align: center;
        color:#aaa;
    }
    
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #aaa;
        text-align: center
    }
    
    .create{
        background-image: url('../images/icons/create_image.png');
        position: absolute;
        height: 3rem;
        width: 11rem;
        top: 87%;
        left: 50%;
        transform: translate(-50%)
    }

   /* iphonex 的适配 */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .year{
        left:67%;
    }
    .yearTip{
        left: 62%;
    }
    .num{
        left:60%
    }
    .numTip{
        left: 60%;
    }
    .create{
        top:44.6em;
    }
}